.banner-content-about {
  background-color: white;
  text-align: center;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat:no-repeat;
  background-position:center center;
}

.title-about {
  position: absolute;
  top: 275px;
  width: 178%;
  height: 50%;
  background-position: 10 30;
  background-repeat:no-repeat;
}

.title-about-en {
  background-image: url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1511434661/ABOUT_hd4cqb.png');
  margin-left: -52px;
  background-size: 74%;
}

.title-about-fr {
  background-image: url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1511434661/about-french_copy_pytmqz.png');
  margin-left: -63px;
  background-size: 75%;
}

.presentation {
  color: #53A9A5;
  text-align: left;
  padding-left: 40px;
  font-size: 15px;
  width: 33em;
}
.presentation:hover {
  color: #53A9A5;
}

.presentation > a {
  color: #53A9A5;

}

.presentation > a:hover {
  text-decoration: underline;
}

.padding-left {
  padding-left: 40px;
}

.card-description-about .citation {
  color: #00E1CE;
  font-size: 20px;
  font-family: gilroy, sans-serif;
  text-transform: uppercase;
}

.card-description-about .conclusion {
  color: #53A9A5;
  font-size: 15px;
}

.card-about {
  height: 18em;
  background-position: center;
  color: white;
  position: relative;
}
.card-pict {
  position: absolute;
}
.card-web {
  top: 38px;
  width: 40px;
  right: -20px;
}
.card-mobile {
  top: 25px;
  width: 25px;
  font-size: 30px;
  right: -10px;
}
.card-design {
  top: 25px;
  width: 35px;
  right: -11px;
}
.card-category-about {
  position: absolute;
  top: 10px;
  text-transform: uppercase;
  color: black;
}
.card-category-about h2 {
  font-size: 24px;
  color: black;
  padding-left: 40px;
  letter-spacing: 1px;
}
.card-description-about {
  position: absolute;
  top: 90px;
  width: 28em;
}
.card-description-about p {
  font-size: 14px;
  color: black;
}

.justify {
  text-align: justify;
}

.card-arrow {
  position: absolute;
  bottom: 10px;
  width: 40px;
  font-size: 50px;
  cursor: pointer;
}

.card-arrow:hover .fa-angle-right {
  color: #9CD4C4;
  transition-duration:.8s;
}
.card-arrow:hover .fa-angle-left {
  color: #9CD4C4;
  transition-duration:.3s;
}
.arrow-right {
  right: -15px;
}
.arrow-left {
  left: 10px;
}
.card-arrow .fa-angle-right {
  color: #00E1CE;
}
.card-arrow .fa-angle-left {
  color: #00E1CE;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

.underline {
  text-decoration: underline;
}

.card-description-about .btn-contact a{
  font-family: Gilroy, sans-serif;
  font-size: -rem(10px);
  text-transform: uppercase;
  color: black;
  transition: all .7s ease-out;
  text-decoration: none;
  margin: -rem(10px);
  font-size: 20px;
  display:inline-block;
  margin:0;
  position:absolute;
  right: 0;
  z-index: 1;
  padding-right: 10px;
}

.card-description-about  .btn-contact:after {
  display:block;
  content: '';
  border: 5px solid #00E1CE;
  background-color: #00E1CE;
  transform: scaleX(0);
  transition: transform 250ms ease;
  padding-top: 18px;
}

.card-description-about .btn-contact-fr:after {
  margin-left: 290px;
}

.card-description-about .btn-contact-en:after {
  margin-left: 327px;
}

.card-description-about  .btn-contact:hover:after {transform: scaleX(1);}

.card-description-about  .fromLeft:after{transform-origin:  0% 50%;}

@media (max-width: $screen-lg-min) {

  .presentation {
    width: 31em;
  }
  .card-description-about {
    width: 23em;
  }
  .title-about-fr {
    margin-left: -50px;
  }
  .title-about-en {
    margin-left: -43px;
  }
  .card-description-about .btn-contact-fr:after {
    margin-left: 202px;
  }
  .card-description-about .btn-contact-en:after {
    margin-left: 240px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .banner-content-about {
    height: 120vh;
  }

  .arrow-right {
      right: 50px;
  }

  .card-mobile {
    right: 65px;
  }

  .card-web {
    right: 55px;
  }

  .card-design {
    right: 50px;
  }
}

@media (max-width: $screen-xs-min) {

  .banner-content-about {
    height: 140vh;
  }
  .card-about {
    height: 22em;
  }
  .card-description-about {
    width: 19em;
  }
  .presentation {
    width: 28em;
    font-size: 12px;
  }
  .card-category-about h2 {
    font-size: 17px;
  }
  .card-description-about p {
    font-size: 12px;
  }
  .card-web {
    top: 37px;
    width: 33px;
    right: -25px;
  }
  .card-mobile {
    top: 25px;
    right: -20px;
  }
  .card-design {
    right: -35px;
  }
  .card {
    bottom: 0px;
  }
  .card-arrow {
    font-size: 40px;
    right: -40px;
    bottom: 55px;
  }
  .card-description-about .btn-contact:after {
    padding-top: 15px;
  }
  .card-description-about .btn-contact-fr:after {
    margin-left: 148px;
  }
  .card-description-about .btn-contact-en:after {
    margin-left: 179px;
  }
  .card-description-about .btn-contact a {
    font-size: 18px;
  }

}
