#bg-paint {
  position: absolute;
  top: 0px;
  left: 220px;
  width: 24%;
  height: 100vh;
  background-image: url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1508419104/odai%CC%88alacombe_peinture_HD-01_tonkxs.png');
  background-repeat:no-repeat;
  background-size: cover;
}

.title-contact {
  position: absolute;
  width: 178%;
  height: 50%;
  background-position: 10 30;
  background-repeat:no-repeat;
  background-size: 89%;
}

.title-contact-en {
  background-image: url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1508419055/Contactme-15_hzbbh5.png');
  margin-left: -102px;
  top: 275px;
}

.title-contact-fr {
  background-image: url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1511436924/contact-french-copy_i3pavc.png');
  margin-left: -91px;
  top: 295px;
}

.follow {
 margin-top: 10px;
 color: black;
}

.follow h2 {
  font-size: 30px;
}

.follow p {
  font-family: 'Open Sans', sans-serif;
}

.follow a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.follow i {
  font-size: 36px;
  letter-spacing: 15px;
}

.top-md {
  margin-top: -50px;
}

.border-left {
  border-left: 4px solid #00E1CE;
}

.margin-left {
  margin-left: 120px;
}

.margin-left-lg {
  margin-left: 180px;
}

@media (max-width: $screen-lg-min) {
 // .title-contact {
 //    margin-left: -70px;
 //  }
  .margin-left-lg {
    margin-left: 125px;
  }
  .margin-left {
    margin-left: 74px;
  }
  .title-contact {
    top: 275px;
    background-size: 91%;
  }
  .title-contact-en {
    margin-left: -87px;
  }
  .title-contact-fr {
    margin-left: -74px;
  }
 }

@media (max-width: $screen-md-min) {
  .margin-left-lg {
    margin-left: 195px;
  }
}

@media (max-width: $screen-xs-min) {
  .margin-left {
    margin-left: 0px;
  }
  .margin-left-lg {
    margin-left: 60px;
  }
}
