.banner-content {
  background-color: white;
  text-align: center;
  height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat:no-repeat;
  background-position:center center;
}

.title-home {
  background-image: url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1508419123/logo_name_odaia.png');
  position: absolute;
  top: 300px;
  left: -36px;
  width: 178%;
  height: 50%;
  background-position: 0 0;
  background-repeat:no-repeat;
  background-size: 69%;
}

.home-page h4 {
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Gilroy', sans-serif;
  font-size: 34px;
  color: black;
}

.one {
  padding-left: 80px;
}

hr {
  width : 4px;
  height : 100px;
  background-color: #46d1c7;
  margin-top: 40px;
  margin-bottom: 40px;
}

// pictogrammes

.list-inline-item {
  margin-left: 50px;
  margin-right: 10px;
}

.mobile{
  width: 2em;
  height: 4em;
  background-repeat:no-repeat;
  background-image: url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1508419227/odaialacombe_pictogrammes_HD-06_db7dmt.png');
  background-size: 25px;
}

.laptop {
  width: 4em;
  height: 4em;
  background-repeat:no-repeat;
  background-image: url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1508419187/odaialacombe_pictogrammes_HD-05_emlytj.png');
  background-size: 55px;
}

.design {
  width: 3em;
  height: 4em;
  background-repeat:no-repeat;
  background-image: url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1508419210/odaialacombe_pictogrammes_HD-07_vuxp1a.png');
  background-size: 40px;
}

@media (max-width: $screen-md-min) {
  .home-page h4 {
  font-size: 26px;
}
}
