@font-face {
  font-family: Gilroy;
  src: url(http://www.font-face.com/fonts/gilroy/Gilroy-Light.otf);
  font-weight:normal;
}

.banner-content {
  background-color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat:no-repeat;
  background-position:center center;
}

.banner-content p {
  font-family: 'Gilroy', Sans-Serif;
  color: black;
  font-size: 16px;
}

.banner-content h1 {
  font-family: 'Gilroy', Sans-Serif;
  color: black;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: -200px;
}

.no-surlign {
  color: black;
}

p:hover {
  text-decoration: none;
  color: black;
}

.bolder {
  font-weight: bold;
}

.padding-top-lg {
  padding-top: 200px;
}
