.title-work {
  background-image: url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1508419161/odai%CC%88alacombe_txt_titre_HD-03_avdbxr.png');
  position: absolute;
  top: 290px;
  margin-left: -40px;
  width: 178%;
  height: 50%;
  background-position: 10 30;
  background-repeat:no-repeat;
  background-size: 70%;
}
