<div class="banner-construction" style="background-image: url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1509971533/logo_brand_odaia.png');">
  <div class="container">
    <div class="row">
       <div class="col-xs-12">
        <div class="padding-top-lg">
          <h1>coming SOON</h1>
          <p class="bolder">Développeur web</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p class="no-surlign">tél.- 06 32 06 42 81 </p>
      </div>
      <div class="col-xs-12 col-md-4 col-md-offset-4 ">
        <p class="no-surlign">odaialacombe@gmail.com</p>
      </div>
    </div>
  </div>
</div>
