<div class="footer">
  <div class="footer-links hidden-xs hidden-sm">
    <div class="left">
      <a href="https://github.com/OdaiaLCMB">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/in/odaialacombe/">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/OdaiaLcmb">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://www.instagram.com/odaialcmb/">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </div>
    <div class="contact">
      <p>Contact me at <a href="mailto:odaialacombe@gmail.com">odaialacombe@gmail.com</a></p>
    </div>
    <div class="right">
      <p>FR <span>/</span> EN</p>
    </div>
  </div>
  <div class="copyright text-center">
      <p>© 2017 Odaïa Lacombe. All rights reserved.</p>
  </div>
  <!-- Mobile footer -->
  <!-- <div class="footer-links text-center">
    <div class="hidden-md hidden-lg">
      <i class="fa fa-copyright"><span> Odaia Lacombe</span></i>
      <i class="fa fa-envelope"><span>&nbsp odaialcmb@gmail.com</span></i>
    </div>
  </div> -->
</div>
