<div class="banner">
  <div class="banner-content">
    <div class="hidden-xs hidden-sm">
      <div id="bg-paint">
      </div>
    </div>
     <p> <%= t("about.introduction") %> <br> <%= t("about.fin") %></p>
  </div>
</div>
