<div class="banner">
  <div class="banner-content">
    <div class="hidden-xs hidden-sm">
      <div id="bg-paint">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-5">
      <div class="border-left">
        <p class="presentation"> <%= t("about.introduction") %> <br> <%= t("about.fin") %></p>
      </div>
    </div>
  </div>
</div>
