<div class="banner">
  <div class="banner-content">
    <div class="hidden-xs hidden-sm">
      <div id="bg-paint">
        <div class="title-home"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-5">
      <div class="home-page">
        <hr>
        <h4><%= t('home.hello') %><%= t('home.welcome_one') %></h4>
        <h4 class="two"><%= t('home.welcome_two') %></h4>
        <hr>
      </div>
      <div>
        <ul class="list-inline">
          <li class="list-inline-item mobile"></li>
          <li class="list-inline-item laptop"></li>
          <li class="list-inline-item design"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

