/* Main navbar */
.navbar-odaia {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-odaia-brand {
  height: 50px;
  width: 133px;
  background-image: url(http://res.cloudinary.com/dkt6x6yfo/image/upload/v1511434661/ODAIA_a0o0ci.png);
  background-size: cover;
  align-items: center;
}

/* Logo when on mobile */
.navbar-odaia-brand .logo {
  height: 392px;
  z-index: 1;
  top: -120px;
  left: -210px;
  position: absolute;
}

/* Right section */
.navbar-odaia-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-odaia-item {
  cursor: pointer;
  padding: 0 30px;
}

/* Navbar link */
.navbar-odaia-link {
  color: black;
  font-size: 16px;
  font-family: 'Gilroy', sans-serif;
  text-transform: uppercase;
}
.navbar-odaia-link:hover {
  color: black;
  text-decoration: none;
}
.bold {
  font-weight: bolder;
}


/* Dropdown menu */
.navbar-odaia-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #46D1C7;
}
.navbar-odaia-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: black !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-odaia-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
  font-weight: bold;
}
.navbar-odaia-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #46D1C7;
  border-top: 1px solid #46D1C7;
}

.fa-bars {
  color: #46D1C7;
}

.margin-xs {
  margin-top: 10px;
}
